.bg-login {
	background: #000046; 
	background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
	background: linear-gradient(to right, #1CB5E0, #000046);
	background-size: cover;
}

.alert .close {
	font-size: 1.2rem !important;
}

/* Chrome, Safari, Edge, Opera */
.input-score::-webkit-outer-spin-button,
.input-score::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.input-score {
    -moz-appearance: textfield;
}

.input-score {
    text-align: center;
    width: 5em;
}
