.bg-login {
	background: #000046; 
	background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
	background: linear-gradient(to right, #1CB5E0, #000046);
	background-size: cover;
}

.alert .close {
	font-size: 1.2rem !important;
	margin-left: 0.25rem;
}

/* Chrome, Safari, Edge, Opera */
.input-score::-webkit-outer-spin-button,
.input-score::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.input-score {
    -moz-appearance: textfield;
}

.input-score {
    text-align: center;
    width: 5em;
}


/* loading */
.load {
    width: 100%;
    height: 100%;
    background: #292929;
    /* background: #000000; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    overflow: hidden;
    opacity: 0.9;
}

.load img {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -75px;
}